<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
  <div class="container mb-5">
    <div class="row">
      <div class="col">
        <a href="/" title="Benka"><img
            src="https://acdn.mitiendanube.com/stores/001/053/068/themes/common/logo-485531772-1650308889-a57ebf07c38e425e3d981eb407bc61b51650308890-480-0.jpg?0"
            alt="Benka" width="180"></a>
      </div>
      <div class="col d-flex align-items-center justify-content-end">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link text-dark" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/realtimeproducts">Real Time Products</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {{{body}}}

  <div class="container mt-5">
    <div class="row">
      <div class="col text-center">
        <h2 class="display-2">DALE ESTILO A TU MUNDO</h2>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h2 class="display-2">Desarrollado por <b></b> Manera Emmanuel</h2>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous">
  </script>

</body>

</html>